body{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: rgb(88, 170, 108);
    gap: 655px;
    align-items: center;
    padding: 10px 50px;
}



header nav {
    display: flex;
    gap: 50px;
}

header a {
    color: white;
    text-decoration: none;
      
}


header a:hover {
    color: black;
}

@media (max-width: 1920px) {
    
}